{% extends 'Students/student_main.html' %}

<!-- Tilte  -->
{% block title %}
<h1 class="text-center mt-5">Edit Profile</h1>
{% endblock %}

<!-- Hero -->
{% block form %}
<div class="card mt-3 col-lg-6">
  <div class="card-body">
    <form action='/recruiter/update_profile' method='POST'>
      <div class="row g-3">
        <div class="col">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name='name' value="{{name}}">
        </div>
        <div class="col">
          <label for="company" class="form-label">Company</label>
        <input type="text" class="form-control" name='company' value="{{company}}">
        </div>
        <div class="col">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name='title' value="{{title}}">
        </div>
      </div>
      <div class="row g-3 mt-1 mb-2">
        <div class="col">
          <label for="talent" class="form-label">Talents we are looking for</label>
          <input type="text" class="form-control" name='talent' value="{{talent}}">
        </div>
      </div>
        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" rows="3" name="bio">{{bio}}</textarea>
      </div>
      <button type="submit" class="btn TickleMePink-bg ms-auto text-white pull-right mb-3">Submit</button>
    </form>
{% endblock %}















   