/* 
WildBlueYonder: #7F8BBE
Wisteria: #C490D1
FrenchPass:#AAD1DA
ED78A9
 */


/* h1{
  color:#7F8BBE;
}
.WildBlueYonder{
  color:#7F8BBE;
}
.Wisteria{
  color: #C490D1;
}
.FrenchPass{
  color: #AAD1DA;
}
.TickleMePink{
  color: #ED78A9;
}
.TickleMePink-bg{
  background-color: #ED78A9;
}
 */