
/* WildBlueYonder: #7F8BBE
Wisteria: #C490D1
FrenchPass:#AAD1DA
ED78A9 */

body{
  padding-top: 0px !important;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  min-height: 100px;
}

h1{
  color:#7F8BBE !important;
}
.WildBlueYonder{
  color:#7F8BBE;
}
.Wisteria{
  color: #C490D1;
}
.FrenchPass{
  color: #AAD1DA;
}
.TickleMePink{
  color: #ED78A9;
}
.TickleMePink-bg{
  background-color: #ED78A9;
}

ul{
  list-style: none;
}