{% extends 'Auth/login-system.html' %}

{% block title %}
<h1 class="text-center mt-5">
  <span class="WildBlueYonder">Log In</span>
</h1>
{% endblock %}

{% block form %}
<div class="card mt-3 col-lg-4">
  <div class="card-body">
    <form action='/login' method='POST'>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" name='email' id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name='password' id="password">
      </div>
      <button type="submit" class="btn TickleMePink-bg ml-auto text-white pull-right">Submit</button>
    </form>
  </div>
</div>
  <p class="lead mt-4 text-center">
    Forget password? <a href="/reset_password" class="TickleMePink"> Reset Password</a>
  </p>  
{% endblock %}
