{% extends 'base.html' %}

{% block head %}
<!-- Style -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand ms-5" href="/">Lunch Chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto me-5">
      <li class="nav-item ms-5">
        <a class="nav-link active" href="/signup">Sign up</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item ms-5">
        <a class="nav-link" href="/reset_password">Reset Password</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Jumbotron -->
<div class="jumbotron bg-white">
  <div class="row align-items-center flex-column">

    {% block title %}
    {% endblock %}

    {% if error %}
      <p class="error text-center mt-4"><strong>Error:</strong> {{ error }}
    {% endif %}

    {% block form %}
    {% endblock %}
    
  </div>
</div>
  
{% endblock %}