{% extends 'base.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block content %}
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white pt-5">
  <a class="navbar-brand ml-5" href="/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link" href="#">Features <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link" href="#">How it works</a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link btn TickleMePink-bg text-white" href="/signup" role="button">Get Start</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Jumbotron -->
<div class="jumbotron bg-white">
  <div class="row align-items-center flex-column">
  <div>
    <h1 >
      <span class="WildBlueYonder">Meet With Mentors </span>
      <span class="Wisteria">Get <br/>Feedback</span>
      <span class="FrenchPass">All virtually</span>
    </h1>
    <p class="lead mt-4">Lunch Chat is a video conferencing networking tool that will change the way graduating computer <br/>
      engineers connect with tech recruiters. Quickly schedule informal meetings on recruiter's calendars.
    </p>
    <p class="lead">
      already have an account? <a href="/login" class="TickleMePink"> Log in here</a>
    </p>
  </div>
  <div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="img-fluid" alt="...">
    </div>
  </div>
  </div>
</div>


{% endblock %}
