{% extends 'base.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block content %}

<!--Jumbotron-->
<div class="container container position-absolute top-50 start-50 translate-middle"> 
  <!--art work and tag line-->
  <div class="row border rounded-3">
    <div class="col-sm-12">
      <div class="card border-0">
       <div class="card-body">
          
       </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Lets Chat!</h5>
            <p class="card-text">Connect with leading indusrty recruiters for a quick Chat. Create meanigful professional connections</p>
            
          </div>
        </div>
      </div>
  

   <!-- recruiter and student buttons-->
      <div class="row border-0">
        <div class="col-sm-6 border-0 ">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">I'm a job seeker</h5>
              <p class="card-text">Would you like to schedule a quick meeting with a recruiter?</p>
              <a href="#" class="btn btn-lg btn-secondary">Start here</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">I'm a recruiter</h5>
              <p class="card-text">Set up available time on your calendar to connect with amazing talent!</p>
              <a href="#" class="btn btn-lg btn-secondary">Start here</a>
            </div>
          </div>
        </div>
      </div>
    </div>

   
{% endblock %}



