/* screen - web-1920-1 */

.dove-gray-border-1px {
  border: 1px solid var(--dove-gray);
}
.web-1920-1 {
  background-color: var(--white);
  height: 1080px;
  width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  
}
.web-1920-1 .ellipse-1-zUixHA {
  background-color: var(--east-side);
  border-radius: 41px;
  height: 82px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 41px);
  width: 82px;
}
.web-1920-1 .ellipse-10-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 9.55201530456543px/8.215289115905762px;
  height: 16px;
  position: absolute;
  right: calc(18.56% - 4px);
  top: calc(17.74% - 3px);
  width: 19px;
}
.web-1920-1 .ellipse-11-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 10.331769943237305px/8.911499977111816px;
  height: 18px;
  left: calc(19.07% - 4px);
  position: absolute;
  top: calc(17.58% - 3px);
  width: 21px;
}
.web-1920-1 .ellipse-12-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 10.331769943237305px/8.911499977111816px;
  height: 18px;
  left: calc(27.41% - 6px);
  position: absolute;
  top: calc(17.58% - 3px);
  width: 21px;
}
.web-1920-1 .ellipse-13-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.020350456237793px/6.906412124633789px;
  height: 14px;
  left: calc(47.06% - 8px);
  position: absolute;
  top: calc(47.07% - 7px);
  width: 16px;
}
.web-1920-1 .ellipse-14-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.020350456237793px/6.906412124633789px;
  height: 14px;
  position: absolute;
  right: calc(46.51% - 7px);
  top: calc(47.07% - 7px);
  width: 16px;
}
.web-1920-1 .ellipse-15-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.270986557006836px/7.129200458526611px;
  height: 14px;
  position: absolute;
  right: calc(25.64% - 4px);
  top: calc(47.27% - 7px);
  width: 17px;
}
.web-1920-1 .ellipse-16-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.270986557006836px/7.129200458526611px;
  height: 14px;
  position: absolute;
  right: calc(19.01% - 3px);
  top: calc(47.27% - 7px);
  width: 17px;
}
.web-1920-1 .ellipse-17-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 6.7671709060668945px/8.103896141052246px;
  bottom: calc(25.53% - 4px);
  height: 16px;
  left: calc(26.54% - 4px);
  position: absolute;
  width: 14px;
}
.web-1920-1 .ellipse-18-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 6.7671709060668945px/8.103896141052246px;
  bottom: calc(25.53% - 4px);
  height: 16px;
  left: calc(19.11% - 3px);
  position: absolute;
  width: 14px;
}
.web-1920-1 .ellipse-19-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.99504566192627px/7.741866111755371px;
  bottom: calc(21.65% - 3px);
  height: 15px;
  position: absolute;
  right: calc(25.82% - 5px);
  width: 18px;
}
.web-1920-1 .ellipse-2-zUixHA {
  background-color: rgba(125,140,196,1.0);
  border-radius: 41px;
  bottom: 0px;
  height: 82px;
  position: absolute;
  right: calc(49.70% - 41px);
  width: 82px;
}
.web-1920-1 .ellipse-20-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.99504566192627px/7.741866111755371px;
  bottom: calc(21.65% - 3px);
  height: 15px;
  position: absolute;
  right: calc(18.60% - 3px);
  width: 18px;
}
.web-1920-1 .ellipse-21-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 9.245681762695312px/7.964653015136719px;
  bottom: calc(24.33% - 4px);
  height: 16px;
  left: calc(46.94% - 9px);
  position: absolute;
  width: 18px;
}
.web-1920-1 .ellipse-22-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 9.245681762695312px/7.964653015136719px;
  bottom: calc(24.33% - 4px);
  height: 16px;
  position: absolute;
  right: calc(45.62% - 8px);
  width: 18px;
}
.web-1920-1 .ellipse-3-zUixHA {
  background-color: rgba(254,111,171,1.0);
  border-radius: 41px;
  height: 82px;
  position: absolute;
  right: calc(49.70% - 41px);
  top: 0px;
  width: 82px;
}
.web-1920-1 .ellipse-4-zUixHA {
  background-color: rgba(160,210,219,1.0);
  border-radius: 41px;
  height: 82px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 41px);
  width: 82px;
}
.web-1920-1 .ellipse-5-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.660863876342773px/7.463380813598633px;
  height: 15px;
  left: calc(46.36% - 8px);
  position: absolute;
  top: calc(18.06% - 3px);
  width: 17px;
}
.web-1920-1 .ellipse-6-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.660863876342773px/7.463380813598633px;
  height: 15px;
  position: absolute;
  right: calc(46.68% - 8px);
  top: calc(18.06% - 3px);
  width: 17px;
}
.web-1920-1 .ellipse-7-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.855803489685059px/7.630471706390381px;
  height: 15px;
  left: calc(19.66% - 3px);
  position: absolute;
  top: calc(48.09% - 7px);
  width: 18px;
}
.web-1920-1 .ellipse-8-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 8.855803489685059px/7.630471706390381px;
  height: 15px;
  left: calc(26.78% - 5px);
  position: absolute;
  top: calc(48.09% - 7px);
  width: 18px;
}
.web-1920-1 .ellipse-9-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 9.55201530456543px/8.215289115905762px;
  height: 16px;
  position: absolute;
  right: calc(26.24% - 5px);
  top: calc(17.74% - 3px);
  width: 19px;
}
.web-1920-1 .email-address-C61RwL {
  background-color: var(--white);
  color: rgba(199,199,199,1.0);
  font-family: 'HelveticaNeue-Regular', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 56px;
  width: 373px;
  left: 305px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.58;
  position: absolute;
  padding-left: 10px;
  text-align: left;
  top: 653px;
  white-space: nowrap;
  
}
.web-1920-1 .get-matche-psand-jobs-C61RwL {
  background-color: transparent;
  color: var(--east-side);
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1064px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: right;
  top: 879px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .google-C61RwL {
  background-color: transparent;
  height: 32px;
  left: 320px;
  position: absolute;
  top: 728px;
  width: 32px;
}
.web-1920-1 .group-1-C61RwL {
  background-color: transparent;
  height: 431px;
  left: 107px;
  position: absolute;
  top: 198px;
  width: 695px;
}
.web-1920-1 .group-2-C61RwL {
  background-color: transparent;
  height: 250px;
  left: 332px;
  position: absolute;
  top: 202px;
  width: 251px;
}
.web-1920-1 .icon-aweso-rrow-right-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 617px;
  position: absolute;
  top: 732px;
  width: 27px;
}
.web-1920-1 .lunch-meet-VyzZeT {
  background-color: transparent;
  bottom: -13px;
  color: var(--white);
  font-family: 'SFPro-Bold', Helvetica, Arial, serif;
  font-size: 112px;
  font-style: normal;
  font-weight: 700;
  height: 136px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 112px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.web-1920-1 .meet-with--nd-mentors-C61RwL {
  background-color: transparent;
  color: var(--east-side);
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1064px;
  letter-spacing: 0.00px;
  line-height: 53px;
  position: absolute;
  text-align: left;
  top: 117px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .path-10-J1biH6 {
  background-color: transparent;
  height: 6px;
  position: absolute;
  right: calc(31.98% - 9px);
  top: 39px;
  width: 29px;
}
.web-1920-1 .path-100-J1biH6 {
  background-color: transparent;
  bottom: calc(41.63% - 17px);
  height: 42px;
  left: calc(46.40% - 13px);
  position: absolute;
  width: 29px;
}
.web-1920-1 .path-101-J1biH6 {
  background-color: transparent;
  bottom: calc(41.56% - 19px);
  height: 46px;
  left: calc(46.37% - 15px);
  position: absolute;
  width: 33px;
}
.web-1920-1 .path-102-J1biH6 {
  background-color: transparent;
  height: 50px;
  position: absolute;
  right: calc(49.70% - 28px);
  top: calc(42.29% - 21px);
  width: 56px;
}
.web-1920-1 .path-103-J1biH6 {
  background-color: transparent;
  height: 55px;
  position: absolute;
  right: calc(49.68% - 30px);
  top: calc(42.20% - 23px);
  width: 60px;
}
.web-1920-1 .path-104-J1biH6 {
  background-color: transparent;
  bottom: calc(41.27% - 21px);
  height: 51px;
  position: absolute;
  right: calc(49.65% - 24px);
  width: 48px;
}
.web-1920-1 .path-105-J1biH6 {
  background-color: transparent;
  bottom: calc(41.15% - 23px);
  height: 57px;
  position: absolute;
  right: calc(49.65% - 26px);
  width: 53px;
}
.web-1920-1 .path-106-J1biH6 {
  background-color: transparent;
  bottom: calc(45.33% - 9px);
  height: 20px;
  position: absolute;
  right: calc(49.66% - 10px);
  width: 20px;
}
.web-1920-1 .path-107-J1biH6 {
  background-color: transparent;
  bottom: calc(45.28% - 11px);
  height: 24px;
  position: absolute;
  right: calc(49.66% - 12px);
  width: 24px;
}
.web-1920-1 .path-108-J1biH6 {
  background-color: transparent;
  bottom: calc(47.74% - 2px);
  height: 5px;
  position: absolute;
  right: calc(49.70% - 4px);
  width: 8px;
}
.web-1920-1 .path-109-J1biH6 {
  background-color: transparent;
  bottom: calc(47.71% - 4px);
  height: 9px;
  position: absolute;
  right: calc(49.69% - 6px);
  width: 13px;
}
.web-1920-1 .path-11-J1biH6 {
  background-color: transparent;
  height: 140px;
  position: absolute;
  right: calc(49.35% - 99px);
  top: calc(48.55% - 68px);
  width: 200px;
}
.web-1920-1 .path-110-J1biH6 {
  background-color: transparent;
  height: 18px;
  left: calc(47.20% - 9px);
  position: absolute;
  top: calc(47.04% - 8px);
  width: 18px;
}
.web-1920-1 .path-111-J1biH6 {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: calc(46.35% - 8px);
  top: calc(47.04% - 8px);
  width: 18px;
}
.web-1920-1 .path-112-J1biH6 {
  background-color: transparent;
  height: 55px;
  position: absolute;
  right: calc(49.68% - 24px);
  top: calc(45.54% - 25px);
  width: 48px;
}
.web-1920-1 .path-113-J1biH6 {
  background-color: transparent;
  height: 59px;
  position: absolute;
  right: calc(49.68% - 26px);
  top: calc(45.51% - 27px);
  width: 53px;
}
.web-1920-1 .path-114-J1biH6 {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: calc(49.72% - 4px);
  top: calc(46.91% - 5px);
  width: 8px;
}
.web-1920-1 .path-115-J1biH6 {
  background-color: transparent;
  bottom: calc(46.48% - 8px);
  height: 18px;
  left: calc(43.55% - 20px);
  position: absolute;
  width: 45px;
}
.web-1920-1 .path-116-J1biH6 {
  background-color: transparent;
  bottom: calc(45.55% - 12px);
  height: 26px;
  left: calc(41.97% - 8px);
  position: absolute;
  width: 18px;
}
.web-1920-1 .path-117-J1biH6 {
  background-color: transparent;
  bottom: calc(47.09% - 12px);
  height: 26px;
  left: calc(45.51% - 8px);
  position: absolute;
  width: 18px;
}
.web-1920-1 .path-118-J1biH6 {
  background-color: transparent;
  bottom: calc(42.31% - 21px);
  height: 50px;
  left: calc(44.57% - 11px);
  position: absolute;
  width: 26px;
}
.web-1920-1 .path-119-J1biH6 {
  background-color: transparent;
  bottom: calc(42.18% - 23px);
  height: 54px;
  left: calc(44.56% - 13px);
  position: absolute;
  width: 30px;
}
.web-1920-1 .path-12-J1biH6 {
  background-color: transparent;
  height: 6px;
  left: calc(40.73% - 12px);
  position: absolute;
  top: calc(37.48% - 2px);
  width: 29px;
}
.web-1920-1 .path-120-J1biH6 {
  background-color: transparent;
  bottom: calc(42.78% - 9px);
  height: 21px;
  position: absolute;
  right: calc(44.76% - 20px);
  width: 44px;
}
.web-1920-1 .path-121-J1biH6 {
  background-color: transparent;
  bottom: calc(43.68% - 11px);
  height: 26px;
  position: absolute;
  right: calc(43.15% - 8px);
  width: 19px;
}
.web-1920-1 .path-122-J1biH6 {
  background-color: transparent;
  bottom: calc(41.65% - 11px);
  height: 26px;
  position: absolute;
  right: calc(46.59% - 9px);
  width: 19px;
}
.web-1920-1 .path-123-J1biH6 {
  background-color: transparent;
  bottom: calc(43.31% - 4px);
  height: 10px;
  position: absolute;
  right: calc(45.31% - 6px);
  width: 13px;
}
.web-1920-1 .path-124-J1biH6 {
  background-color: transparent;
  bottom: calc(42.05% - 5px);
  height: 11px;
  position: absolute;
  right: calc(44.76% - 5px);
  width: 11px;
}
.web-1920-1 .path-125-J1biH6 {
  background-color: transparent;
  bottom: calc(41.98% - 6px);
  height: 15px;
  position: absolute;
  right: calc(44.73% - 7px);
  width: 15px;
}
.web-1920-1 .path-126-J1biH6 {
  background-color: transparent;
  height: 100px;
  position: absolute;
  right: calc(20.31% - 14px);
  top: calc(46.79% - 47px);
  width: 67px;
}
.web-1920-1 .path-127-J1biH6 {
  background-color: transparent;
  height: 104px;
  position: absolute;
  right: calc(20.13% - 14px);
  top: calc(46.76% - 49px);
  width: 71px;
}
.web-1920-1 .path-128-J1biH6 {
  background-color: transparent;
  bottom: calc(43.85% - 16px);
  height: 37px;
  position: absolute;
  right: 107px;
  width: 45px;
}
.web-1920-1 .path-129-J1biH6 {
  background-color: transparent;
  bottom: calc(43.79% - 18px);
  height: 41px;
  position: absolute;
  right: 105px;
  width: 49px;
}
.web-1920-1 .path-13-J1biH6 {
  background-color: transparent;
  height: 140px;
  position: absolute;
  right: 73px;
  top: calc(48.55% - 68px);
  width: 200px;
}
.web-1920-1 .path-130-J1biH6 {
  background-color: transparent;
  bottom: calc(41.11% - 20px);
  height: 49px;
  position: absolute;
  right: calc(21.31% - 9px);
  width: 41px;
}
.web-1920-1 .path-131-J1biH6 {
  background-color: transparent;
  bottom: calc(41.02% - 22px);
  height: 53px;
  position: absolute;
  right: calc(21.14% - 10px);
  width: 45px;
}
.web-1920-1 .path-132-J1biH6 {
  background-color: transparent;
  bottom: calc(37.96% - 4px);
  height: 10px;
  position: absolute;
  right: calc(24.94% - 2px);
  width: 7px;
}
.web-1920-1 .path-133-J1biH6 {
  background-color: transparent;
  bottom: calc(37.84% - 5px);
  height: 14px;
  position: absolute;
  right: calc(24.79% - 3px);
  width: 12px;
}
.web-1920-1 .path-134-J1biH6 {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: calc(25.42% - 5px);
  top: calc(47.24% - 9px);
  width: 19px;
}
.web-1920-1 .path-135-J1biH6 {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: calc(18.78% - 3px);
  top: calc(47.24% - 9px);
  width: 19px;
}
.web-1920-1 .path-136-J1biH6 {
  background-color: transparent;
  height: 55px;
  position: absolute;
  right: calc(20.96% - 11px);
  top: calc(45.95% - 25px);
  width: 50px;
}
.web-1920-1 .path-137-J1biH6 {
  background-color: transparent;
  height: 59px;
  position: absolute;
  right: calc(20.80% - 11px);
  top: calc(45.89% - 27px);
  width: 55px;
}
.web-1920-1 .path-138-J1biH6 {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: calc(22.54% - 2px);
  top: calc(47.50% - 5px);
  width: 9px;
}
.web-1920-1 .path-139-J1biH6 {
  background-color: transparent;
  bottom: calc(40.97% - 19px);
  height: 47px;
  position: absolute;
  right: calc(25.90% - 9px);
  width: 35px;
}
.web-1920-1 .path-14-J1biH6 {
  background-color: transparent;
  height: 6px;
  position: absolute;
  right: calc(31.98% - 9px);
  top: calc(37.48% - 2px);
  width: 29px;
}
.web-1920-1 .path-140-J1biH6 {
  background-color: transparent;
  bottom: calc(40.87% - 21px);
  height: 51px;
  position: absolute;
  right: calc(25.75% - 10px);
  width: 39px;
}
.web-1920-1 .path-141-J1biH6 {
  background-color: transparent;
  bottom: calc(44.48% - 10px);
  height: 23px;
  position: absolute;
  right: calc(22.31% - 3px);
  width: 14px;
}
.web-1920-1 .path-142-J1biH6 {
  background-color: transparent;
  bottom: calc(44.43% - 12px);
  height: 27px;
  position: absolute;
  right: calc(22.14% - 4px);
  width: 18px;
}
.web-1920-1 .path-143-J1biH6 {
  background-color: transparent;
  bottom: 37px;
  height: 59px;
  left: calc(20.49% - 15px);
  position: absolute;
  width: 75px;
}
.web-1920-1 .path-144-J1biH6 {
  background-color: transparent;
  bottom: 35px;
  height: 63px;
  left: calc(20.32% - 16px);
  position: absolute;
  width: 79px;
}
.web-1920-1 .path-145-J1biH6 {
  background-color: transparent;
  bottom: 35px;
  height: 41px;
  left: calc(25.67% - 1px);
  position: absolute;
  width: 4px;
}
.web-1920-1 .path-146-J1biH6 {
  background-color: transparent;
  bottom: 35px;
  height: 41px;
  left: calc(20.99% - 1px);
  position: absolute;
  width: 4px;
}
.web-1920-1 .path-147-J1biH6 {
  background-color: transparent;
  bottom: calc(25.29% - 5px);
  height: 21px;
  left: calc(26.11% - 5px);
  position: absolute;
  width: 21px;
}
.web-1920-1 .path-148-J1biH6 {
  background-color: transparent;
  bottom: calc(25.29% - 5px);
  height: 21px;
  left: calc(18.96% - 4px);
  position: absolute;
  width: 21px;
}
.web-1920-1 .path-149-J1biH6 {
  background-color: transparent;
  bottom: calc(29.06% - 11px);
  height: 37px;
  left: calc(21.65% - 10px);
  position: absolute;
  width: 48px;
}
.web-1920-1 .path-15-J1biH6 {
  background-color: transparent;
  height: 140px;
  position: absolute;
  right: calc(49.35% - 99px);
  top: 25px;
  width: 200px;
}
.web-1920-1 .path-150-J1biH6 {
  background-color: transparent;
  bottom: calc(28.86% - 12px);
  height: 41px;
  left: calc(21.48% - 11px);
  position: absolute;
  width: 52px;
}
.web-1920-1 .path-151-J1biH6 {
  background-color: transparent;
  bottom: calc(21.91% - 12px);
  height: 56px;
  left: calc(21.65% - 10px);
  position: absolute;
  width: 48px;
}
.web-1920-1 .path-152-J1biH6 {
  background-color: transparent;
  bottom: calc(21.60% - 13px);
  height: 60px;
  left: calc(21.48% - 11px);
  position: absolute;
  width: 52px;
}
.web-1920-1 .path-153-J1biH6 {
  background-color: transparent;
  bottom: calc(20.78% - 6px);
  height: 29px;
  left: calc(21.65% - 10px);
  position: absolute;
  width: 48px;
}
.web-1920-1 .path-154-J1biH6 {
  background-color: transparent;
  bottom: calc(20.34% - 7px);
  height: 34px;
  left: calc(21.48% - 11px);
  position: absolute;
  width: 52px;
}
.web-1920-1 .path-155-J1biH6 {
  background-color: transparent;
  bottom: calc(24.65% - 3px);
  height: 13px;
  left: calc(23.38% - 1px);
  position: absolute;
  width: 6px;
}
.web-1920-1 .path-156-J1biH6 {
  background-color: transparent;
  bottom: calc(24.40% - 4px);
  height: 17px;
  left: calc(23.25% - 2px);
  position: absolute;
  width: 10px;
}
.web-1920-1 .path-157-J1biH6 {
  background-color: transparent;
  bottom: 37px;
  height: 48px;
  position: absolute;
  right: calc(20.10% - 14px);
  width: 71px;
}
.web-1920-1 .path-158-J1biH6 {
  background-color: transparent;
  bottom: 35px;
  height: 53px;
  position: absolute;
  right: calc(19.89% - 15px);
  width: 75px;
}
.web-1920-1 .path-159-J1biH6 {
  background-color: transparent;
  bottom: 73px;
  height: 9px;
  position: absolute;
  right: calc(22.51% - 2px);
  width: 9px;
}
.web-1920-1 .path-16-J1biH6 {
  background-color: transparent;
  height: 6px;
  left: calc(40.73% - 12px);
  position: absolute;
  top: 39px;
  width: 29px;
}
.web-1920-1 .path-160-J1biH6 {
  background-color: transparent;
  bottom: 70px;
  height: 13px;
  position: absolute;
  right: calc(22.35% - 3px);
  width: 13px;
}
.web-1920-1 .path-161-J1biH6 {
  background-color: transparent;
  bottom: calc(25.56% - 14px);
  height: 55px;
  position: absolute;
  right: calc(20.07% - 14px);
  width: 71px;
}
.web-1920-1 .path-162-J1biH6 {
  background-color: transparent;
  bottom: calc(25.30% - 15px);
  height: 59px;
  position: absolute;
  right: calc(19.87% - 15px);
  width: 75px;
}
.web-1920-1 .path-163-J1biH6 {
  background-color: transparent;
  bottom: calc(21.39% - 4px);
  height: 20px;
  position: absolute;
  right: calc(25.59% - 5px);
  width: 20px;
}
.web-1920-1 .path-164-J1biH6 {
  background-color: transparent;
  bottom: calc(21.39% - 4px);
  height: 20px;
  position: absolute;
  right: calc(18.35% - 4px);
  width: 20px;
}
.web-1920-1 .path-165-J1biH6 {
  background-color: transparent;
  bottom: calc(19.43% - 10px);
  height: 54px;
  position: absolute;
  right: calc(20.72% - 11px);
  width: 55px;
}
.web-1920-1 .path-166-J1biH6 {
  background-color: transparent;
  bottom: calc(19.12% - 11px);
  height: 58px;
  position: absolute;
  right: calc(20.52% - 12px);
  width: 59px;
}
.web-1920-1 .path-167-J1biH6 {
  background-color: transparent;
  bottom: calc(18.80% - 7px);
  height: 39px;
  position: absolute;
  right: calc(20.72% - 11px);
  width: 55px;
}
.web-1920-1 .path-168-J1biH6 {
  background-color: transparent;
  bottom: calc(18.47% - 8px);
  height: 44px;
  position: absolute;
  right: calc(20.54% - 12px);
  width: 59px;
}
.web-1920-1 .path-169-J1biH6 {
  background-color: transparent;
  bottom: calc(22.11% - 3px);
  height: 11px;
  position: absolute;
  right: calc(22.56% - 2px);
  width: 9px;
}
.web-1920-1 .path-17-J1biH6 {
  background-color: transparent;
  height: 140px;
  left: 80px;
  position: absolute;
  top: calc(48.55% - 68px);
  width: 200px;
}
.web-1920-1 .path-170-J1biH6 {
  background-color: transparent;
  bottom: 35px;
  height: 36px;
  position: absolute;
  right: calc(20.20% - 1px);
  width: 4px;
}
.web-1920-1 .path-171-J1biH6 {
  background-color: transparent;
  bottom: 35px;
  height: 36px;
  position: absolute;
  right: calc(25.40% - 1px);
  width: 4px;
}
.web-1920-1 .path-172-J1biH6 {
  background-color: transparent;
  bottom: calc(18.55% - 9px);
  height: 50px;
  position: absolute;
  right: calc(49.33% - 32px);
  width: 65px;
}
.web-1920-1 .path-173-J1biH6 {
  background-color: transparent;
  bottom: calc(18.20% - 10px);
  height: 54px;
  position: absolute;
  right: calc(49.31% - 34px);
  width: 69px;
}
.web-1920-1 .path-174-J1biH6 {
  background-color: transparent;
  bottom: calc(27.35% - 11px);
  height: 42px;
  position: absolute;
  right: calc(49.26% - 31px);
  width: 64px;
}
.web-1920-1 .path-175-J1biH6 {
  background-color: transparent;
  bottom: calc(27.10% - 12px);
  height: 46px;
  position: absolute;
  right: calc(49.26% - 34px);
  width: 68px;
}
.web-1920-1 .path-176-J1biH6 {
  background-color: transparent;
  bottom: 40px;
  height: 48px;
  position: absolute;
  right: calc(49.26% - 29px);
  width: 59px;
}
.web-1920-1 .path-177-J1biH6 {
  background-color: transparent;
  bottom: 38px;
  height: 53px;
  position: absolute;
  right: calc(49.26% - 31px);
  width: 63px;
}
.web-1920-1 .path-178-J1biH6 {
  background-color: transparent;
  bottom: 39px;
  height: 29px;
  left: calc(48.26% - 3px);
  position: absolute;
  width: 5px;
}
.web-1920-1 .path-179-J1biH6 {
  background-color: transparent;
  bottom: 38px;
  height: 28px;
  position: absolute;
  right: calc(46.87% - 2px);
  width: 5px;
}
.web-1920-1 .path-18-J1biH6 {
  background-color: transparent;
  height: 6px;
  left: 96px;
  position: absolute;
  top: calc(37.48% - 2px);
  width: 29px;
}
.web-1920-1 .path-180-J1biH6 {
  background-color: transparent;
  bottom: calc(18.90% - 2px);
  height: 10px;
  position: absolute;
  right: calc(49.31% - 7px);
  width: 14px;
}
.web-1920-1 .path-181-J1biH6 {
  background-color: transparent;
  bottom: calc(24.10% - 5px);
  height: 20px;
  left: calc(47.08% - 10px);
  position: absolute;
  width: 20px;
}
.web-1920-1 .path-182-J1biH6 {
  background-color: transparent;
  bottom: calc(24.10% - 5px);
  height: 20px;
  position: absolute;
  right: calc(45.44% - 9px);
  width: 20px;
}
.web-1920-1 .path-183-J1biH6 {
  background-color: transparent;
  bottom: calc(22.30% - 12px);
  height: 55px;
  position: absolute;
  right: calc(49.26% - 28px);
  width: 56px;
}
.web-1920-1 .path-184-J1biH6 {
  background-color: transparent;
  bottom: calc(21.98% - 13px);
  height: 60px;
  position: absolute;
  right: calc(49.27% - 30px);
  width: 60px;
}
.web-1920-1 .path-185-J1biH6 {
  background-color: transparent;
  bottom: calc(24.96% - 3px);
  height: 11px;
  position: absolute;
  right: calc(49.26% - 4px);
  width: 9px;
}
.web-1920-1 .path-186-J1biH6 {
  background-color: transparent;
  bottom: 40px;
  height: 12px;
  position: absolute;
  right: calc(47.71% - 18px);
  width: 37px;
}
.web-1920-1 .path-187-J1biH6 {
  background-color: transparent;
  bottom: 38px;
  height: 17px;
  position: absolute;
  right: calc(47.70% - 20px);
  width: 41px;
}
.web-1920-1 .path-188-J1biH6 {
  background-color: transparent;
  bottom: 40px;
  height: 15px;
  left: calc(49.14% - 18px);
  position: absolute;
  width: 37px;
}
.web-1920-1 .path-189-J1biH6 {
  background-color: transparent;
  bottom: 38px;
  height: 19px;
  left: calc(49.13% - 20px);
  position: absolute;
  width: 41px;
}
.web-1920-1 .path-19-J1biH6 {
  background-color: transparent;
  bottom: 34px;
  height: 140px;
  left: 80px;
  position: absolute;
  width: 200px;
}
.web-1920-1 .path-190-J1biH6 {
  background-color: transparent;
  bottom: 40px;
  height: 23px;
  position: absolute;
  right: calc(46.68% - 11px);
  width: 23px;
}
.web-1920-1 .path-191-J1biH6 {
  background-color: transparent;
  bottom: 38px;
  height: 28px;
  position: absolute;
  right: calc(46.67% - 13px);
  width: 27px;
}
.web-1920-1 .path-192-J1biH6 {
  background-color: transparent;
  bottom: 50px;
  height: 11px;
  left: calc(49.19% - 9px);
  position: absolute;
  width: 18px;
}
.web-1920-1 .path-193-J1biH6 {
  background-color: transparent;
  bottom: 48px;
  height: 15px;
  left: calc(49.19% - 11px);
  position: absolute;
  width: 22px;
}
.web-1920-1 .path-194-J1biH6 {
  background-color: transparent;
  bottom: 72px;
  height: 17px;
  position: absolute;
  right: calc(49.30% - 9px);
  width: 19px;
}
.web-1920-1 .path-195-J1biH6 {
  background-color: transparent;
  bottom: 70px;
  height: 21px;
  position: absolute;
  right: calc(49.30% - 11px);
  width: 23px;
}
.web-1920-1 .path-196-J1biH6 {
  background-color: transparent;
  height: 4px;
  position: absolute;
  right: calc(49.51% - 12px);
  top: 13px;
  width: 24px;
}
.web-1920-1 .path-197-hBaSeu {
  background-color: transparent;
  height: calc(100.00% - 13px);
  left: 1px;
  position: absolute;
  top: 6px;
  width: 9px;
}
.web-1920-1 .path-198-hBaSeu {
  background-color: transparent;
  bottom: 0px;
  height: 9px;
  position: absolute;
  right: calc(33.83% - 5px);
  width: 14px;
}
.web-1920-1 .path-199-hBaSeu {
  background-color: transparent;
  bottom: 0px;
  height: 12px;
  left: 3px;
  position: absolute;
  width: 13px;
}
.web-1920-1 .path-2-VyzZeT {
  background-color: transparent;
  height: 256px;
  position: absolute;
  right: calc(49.41% - 126px);
  top: 0px;
  width: 256px;
}
.web-1920-1 .path-20-J1biH6 {
  background-color: transparent;
  bottom: calc(33.46% - 2px);
  height: 6px;
  left: 96px;
  position: absolute;
  width: 29px;
}
.web-1920-1 .path-200-hBaSeu {
  background-color: transparent;
  bottom: 3px;
  height: 17px;
  position: absolute;
  right: 0px;
  width: 16px;
}
.web-1920-1 .path-201-hBaSeu {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 4px;
  top: 1px;
  width: 16px;
}
.web-1920-1 .path-202-hBaSeu {
  background-color: transparent;
  height: 12px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 13px;
}
.web-1920-1 .path-21-J1biH6 {
  background-color: transparent;
  bottom: 34px;
  height: 140px;
  position: absolute;
  right: calc(49.35% - 99px);
  width: 200px;
}
.web-1920-1 .path-22-J1biH6 {
  background-color: transparent;
  bottom: calc(33.46% - 2px);
  height: 6px;
  left: calc(40.73% - 12px);
  position: absolute;
  width: 29px;
}
.web-1920-1 .path-23-J1biH6 {
  background-color: transparent;
  bottom: 34px;
  height: 140px;
  position: absolute;
  right: 73px;
  width: 200px;
}
.web-1920-1 .path-24-J1biH6 {
  background-color: transparent;
  bottom: calc(33.46% - 2px);
  height: 6px;
  position: absolute;
  right: calc(31.98% - 9px);
  width: 29px;
}
.web-1920-1 .path-25-J1biH6 {
  background-color: transparent;
  height: 83px;
  left: calc(49.45% - 36px);
  position: absolute;
  top: 38px;
  width: 74px;
}
.web-1920-1 .path-26-J1biH6 {
  background-color: transparent;
  height: 87px;
  left: calc(49.47% - 38px);
  position: absolute;
  top: 35px;
  width: 78px;
}
.web-1920-1 .path-27-J1biH6 {
  background-color: transparent;
  height: 35px;
  position: absolute;
  right: calc(43.35% - 9px);
  top: calc(23.51% - 8px);
  width: 21px;
}
.web-1920-1 .path-28-J1biH6 {
  background-color: transparent;
  height: 39px;
  position: absolute;
  right: calc(43.33% - 11px);
  top: calc(23.27% - 9px);
  width: 25px;
}
.web-1920-1 .path-29-J1biH6 {
  background-color: transparent;
  height: 8px;
  position: absolute;
  right: calc(43.56% - 4px);
  top: calc(24.09% - 2px);
  width: 10px;
}
.web-1920-1 .path-3-J1biH6 {
  background-color: transparent;
  bottom: 3px;
  height: 34px;
  left: 3px;
  position: absolute;
  width: calc(100.00% - 6px);
}
.web-1920-1 .path-30-J1biH6 {
  background-color: transparent;
  height: 45px;
  position: absolute;
  right: calc(48.18% - 39px);
  top: calc(27.39% - 12px);
  width: 80px;
}
.web-1920-1 .path-31-J1biH6 {
  background-color: transparent;
  height: 49px;
  position: absolute;
  right: calc(48.17% - 41px);
  top: calc(27.17% - 13px);
  width: 85px;
}
.web-1920-1 .path-32-J1biH6 {
  background-color: transparent;
  height: 33px;
  left: calc(49.88% - 4px);
  position: absolute;
  top: calc(27.00% - 9px);
  width: 9px;
}
.web-1920-1 .path-33-J1biH6 {
  background-color: transparent;
  height: 37px;
  left: calc(49.88% - 7px);
  position: absolute;
  top: calc(26.78% - 10px);
  width: 13px;
}
.web-1920-1 .path-34-J1biH6 {
  background-color: transparent;
  height: 9px;
  left: calc(49.87% - 4px);
  position: absolute;
  top: calc(24.49% - 2px);
  width: 9px;
}
.web-1920-1 .path-35-J1biH6 {
  background-color: transparent;
  height: 13px;
  left: calc(49.88% - 7px);
  position: absolute;
  top: calc(24.25% - 3px);
  width: 13px;
}
.web-1920-1 .path-36-J1biH6 {
  background-color: transparent;
  height: 19px;
  left: calc(46.51% - 9px);
  position: absolute;
  top: calc(17.75% - 3px);
  width: 19px;
}
.web-1920-1 .path-37-J1biH6 {
  background-color: transparent;
  height: 19px;
  position: absolute;
  right: calc(46.51% - 9px);
  top: calc(17.75% - 3px);
  width: 19px;
}
.web-1920-1 .path-38-J1biH6 {
  background-color: transparent;
  height: 57px;
  left: calc(49.87% - 26px);
  position: absolute;
  top: 56px;
  width: 52px;
}
.web-1920-1 .path-39-J1biH6 {
  background-color: transparent;
  height: 61px;
  left: calc(49.88% - 28px);
  position: absolute;
  top: 54px;
  width: 57px;
}
.web-1920-1 .path-4-J1biH6 {
  background-color: transparent;
  bottom: 1px;
  height: 40px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.web-1920-1 .path-40-J1biH6 {
  background-color: transparent;
  height: 11px;
  left: calc(49.85% - 4px);
  position: absolute;
  top: calc(18.09% - 2px);
  width: 9px;
}
.web-1920-1 .path-41-J1biH6 {
  background-color: transparent;
  height: 7px;
  left: calc(49.71% - 11px);
  position: absolute;
  top: calc(20.99% - 2px);
  width: 21px;
}
.web-1920-1 .path-42-J1biH6 {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: calc(47.29% - 2px);
  top: calc(29.38% - 5px);
  width: 4px;
}
.web-1920-1 .path-43-J1biH6 {
  background-color: transparent;
  height: 31px;
  left: calc(47.52% - 2px);
  position: absolute;
  top: calc(30.06% - 9px);
  width: 4px;
}
.web-1920-1 .path-44-J1biH6 {
  background-color: transparent;
  height: 95px;
  left: calc(20.57% - 17px);
  position: absolute;
  top: calc(46.26% - 44px);
  width: 81px;
}
.web-1920-1 .path-45-J1biH6 {
  background-color: transparent;
  height: 99px;
  left: calc(20.39% - 17px);
  position: absolute;
  top: calc(46.21% - 46px);
  width: 85px;
}
.web-1920-1 .path-46-J1biH6 {
  background-color: transparent;
  bottom: calc(40.52% - 18px);
  height: 45px;
  left: calc(21.50% - 13px);
  position: absolute;
  width: 59px;
}
.web-1920-1 .path-47-J1biH6 {
  background-color: transparent;
  bottom: calc(40.42% - 20px);
  height: 49px;
  left: calc(21.32% - 13px);
  position: absolute;
  width: 63px;
}
.web-1920-1 .path-48-J1biH6 {
  background-color: transparent;
  bottom: calc(42.77% - 10px);
  height: 23px;
  left: calc(23.59% - 2px);
  position: absolute;
  width: 10px;
}
.web-1920-1 .path-49-J1biH6 {
  background-color: transparent;
  bottom: calc(42.70% - 12px);
  height: 28px;
  left: calc(23.44% - 3px);
  position: absolute;
  width: 14px;
}
.web-1920-1 .path-5-J1biH6 {
  background-color: transparent;
  height: calc(100.00% - 40px);
  left: 57px;
  position: absolute;
  top: 3px;
  width: calc(100.00% - 108px);
}
.web-1920-1 .path-50-J1biH6 {
  background-color: transparent;
  bottom: calc(38.54% - 10px);
  height: 26px;
  left: calc(21.35% - 1px);
  position: absolute;
  width: 4px;
}
.web-1920-1 .path-51-J1biH6 {
  background-color: transparent;
  bottom: calc(38.54% - 10px);
  height: 26px;
  left: calc(25.87% - 1px);
  position: absolute;
  width: 4px;
}
.web-1920-1 .path-52-J1biH6 {
  background-color: transparent;
  bottom: calc(45.74% - 4px);
  height: 9px;
  left: calc(23.57% - 2px);
  position: absolute;
  width: 9px;
}
.web-1920-1 .path-53-J1biH6 {
  background-color: transparent;
  bottom: calc(45.70% - 6px);
  height: 13px;
  left: calc(23.41% - 3px);
  position: absolute;
  width: 13px;
}
.web-1920-1 .path-54-J1biH6 {
  background-color: transparent;
  height: 20px;
  left: calc(19.75% - 4px);
  position: absolute;
  top: calc(48.06% - 9px);
  width: 20px;
}
.web-1920-1 .path-55-J1biH6 {
  background-color: transparent;
  height: 20px;
  left: calc(26.88% - 5px);
  position: absolute;
  top: calc(48.06% - 9px);
  width: 20px;
}
.web-1920-1 .path-56-J1biH6 {
  background-color: transparent;
  height: 59px;
  left: calc(21.87% - 12px);
  position: absolute;
  top: calc(46.81% - 28px);
  width: 53px;
}
.web-1920-1 .path-57-J1biH6 {
  background-color: transparent;
  height: 63px;
  left: calc(21.70% - 13px);
  position: absolute;
  top: calc(46.73% - 29px);
  width: 58px;
}
.web-1920-1 .path-58-J1biH6 {
  background-color: transparent;
  height: 15px;
  left: calc(23.46% - 2px);
  position: absolute;
  top: calc(47.60% - 7px);
  width: 8px;
}
.web-1920-1 .path-59-J1biH6 {
  background-color: transparent;
  bottom: calc(38.07% - 9px);
  height: 23px;
  left: calc(23.74% - 1px);
  position: absolute;
  width: 4px;
}
.web-1920-1 .path-6-J1biH6 {
  background-color: transparent;
  height: calc(100.00% - 34px);
  left: 55px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 102px);
}
.web-1920-1 .path-60-J1biH6 {
  background-color: transparent;
  height: 44px;
  position: absolute;
  right: calc(20.84% - 12px);
  top: calc(27.70% - 12px);
  width: 58px;
}
.web-1920-1 .path-61-J1biH6 {
  background-color: transparent;
  height: 48px;
  position: absolute;
  right: calc(20.67% - 13px);
  top: calc(27.46% - 13px);
  width: 62px;
}
.web-1920-1 .path-62-J1biH6 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(22.70% - 2px);
  top: calc(26.85% - 6px);
  width: 10px;
}
.web-1920-1 .path-63-J1biH6 {
  background-color: transparent;
  height: 25px;
  position: absolute;
  right: calc(22.55% - 3px);
  top: calc(26.63% - 7px);
  width: 14px;
}
.web-1920-1 .path-64-J1biH6 {
  background-color: transparent;
  height: 53px;
  position: absolute;
  right: calc(20.30% - 14px);
  top: 38px;
  width: 71px;
}
.web-1920-1 .path-65-J1biH6 {
  background-color: transparent;
  height: 58px;
  position: absolute;
  right: calc(20.12% - 15px);
  top: 36px;
  width: 75px;
}
.web-1920-1 .path-66-J1biH6 {
  background-color: transparent;
  height: 10px;
  position: absolute;
  right: calc(22.71% - 2px);
  top: calc(24.82% - 2px);
  width: 10px;
}
.web-1920-1 .path-67-J1biH6 {
  background-color: transparent;
  height: 14px;
  position: absolute;
  right: calc(22.56% - 3px);
  top: calc(24.61% - 3px);
  width: 14px;
}
.web-1920-1 .path-68-J1biH6 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(26.01% - 5px);
  top: calc(17.42% - 4px);
  width: 21px;
}
.web-1920-1 .path-69-J1biH6 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(18.31% - 4px);
  top: calc(17.42% - 4px);
  width: 21px;
}
.web-1920-1 .path-7-J1biH6 {
  background-color: transparent;
  height: 140px;
  left: 80px;
  position: absolute;
  top: 25px;
  width: 200px;
}
.web-1920-1 .path-70-J1biH6 {
  background-color: transparent;
  height: 55px;
  position: absolute;
  right: calc(20.82% - 12px);
  top: 60px;
  width: 58px;
}
.web-1920-1 .path-71-J1biH6 {
  background-color: transparent;
  height: 59px;
  position: absolute;
  right: calc(20.65% - 13px);
  top: 58px;
  width: 62px;
}
.web-1920-1 .path-72-J1biH6 {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(22.75% - 2px);
  top: 82px;
  width: 9px;
}
.web-1920-1 .path-73-J1biH6 {
  background-color: transparent;
  height: 26px;
  position: absolute;
  right: calc(25.16% - 1px);
  top: calc(30.90% - 8px);
  width: 4px;
}
.web-1920-1 .path-74-J1biH6 {
  background-color: transparent;
  height: 26px;
  position: absolute;
  right: calc(20.75% - 1px);
  top: calc(30.90% - 8px);
  width: 4px;
}
.web-1920-1 .path-75-J1biH6 {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: calc(22.96% - 1px);
  top: calc(31.30% - 8px);
  width: 4px;
}
.web-1920-1 .path-76-J1biH6 {
  background-color: transparent;
  height: 44px;
  left: calc(21.44% - 13px);
  position: absolute;
  top: calc(27.46% - 12px);
  width: 63px;
}
.web-1920-1 .path-77-J1biH6 {
  background-color: transparent;
  height: 48px;
  left: calc(21.27% - 14px);
  position: absolute;
  top: calc(27.25% - 13px);
  width: 67px;
}
.web-1920-1 .path-78-J1biH6 {
  background-color: transparent;
  height: 14px;
  left: calc(23.52% - 2px);
  position: absolute;
  top: calc(24.39% - 3px);
  width: 9px;
}
.web-1920-1 .path-79-J1biH6 {
  background-color: transparent;
  height: 18px;
  left: calc(23.37% - 3px);
  position: absolute;
  top: calc(24.16% - 4px);
  width: 13px;
}
.web-1920-1 .path-8-J1biH6 {
  background-color: transparent;
  height: 6px;
  left: 96px;
  position: absolute;
  top: 39px;
  width: 29px;
}
.web-1920-1 .path-80-J1biH6 {
  background-color: transparent;
  height: 58px;
  left: calc(20.98% - 16px);
  position: absolute;
  top: 33px;
  width: 76px;
}
.web-1920-1 .path-81-J1biH6 {
  background-color: transparent;
  height: 62px;
  left: calc(20.79% - 17px);
  position: absolute;
  top: 31px;
  width: 81px;
}
.web-1920-1 .path-82-J1biH6 {
  background-color: transparent;
  height: 22px;
  left: calc(19.17% - 4px);
  position: absolute;
  top: calc(17.24% - 4px);
  width: 22px;
}
.web-1920-1 .path-83-J1biH6 {
  background-color: transparent;
  height: 22px;
  left: calc(27.53% - 6px);
  position: absolute;
  top: calc(17.24% - 4px);
  width: 22px;
}
.web-1920-1 .path-84-J1biH6 {
  background-color: transparent;
  height: 60px;
  left: calc(21.64% - 13px);
  position: absolute;
  top: 57px;
  width: 62px;
}
.web-1920-1 .path-85-J1biH6 {
  background-color: transparent;
  height: 64px;
  left: calc(21.46% - 14px);
  position: absolute;
  top: 55px;
  width: 66px;
}
.web-1920-1 .path-86-J1biH6 {
  background-color: transparent;
  height: 8px;
  left: calc(22.95% - 6px);
  position: absolute;
  top: calc(21.16% - 2px);
  width: 24px;
}
.web-1920-1 .path-87-J1biH6 {
  background-color: transparent;
  height: 25px;
  left: calc(21.31% - 1px);
  position: absolute;
  top: calc(31.02% - 8px);
  width: 4px;
}
.web-1920-1 .path-88-J1biH6 {
  background-color: transparent;
  height: 25px;
  left: calc(26.09% - 1px);
  position: absolute;
  top: calc(31.02% - 8px);
  width: 4px;
}
.web-1920-1 .path-89-J1biH6 {
  background-color: transparent;
  height: 23px;
  left: calc(21.01% - 5px);
  position: absolute;
  top: calc(16.23% - 4px);
  width: 23px;
}
.web-1920-1 .path-9-J1biH6 {
  background-color: transparent;
  height: 140px;
  position: absolute;
  right: 73px;
  top: 25px;
  width: 200px;
}
.web-1920-1 .path-90-J1biH6 {
  background-color: transparent;
  height: 23px;
  left: calc(25.30% - 6px);
  position: absolute;
  top: calc(16.23% - 4px);
  width: 23px;
}
.web-1920-1 .path-91-J1biH6 {
  background-color: transparent;
  height: 6px;
  left: calc(23.44% - 4px);
  position: absolute;
  top: 77px;
  width: 16px;
}
.web-1920-1 .path-92-J1biH6 {
  background-color: transparent;
  height: 13px;
  left: calc(23.88% - 2px);
  position: absolute;
  top: calc(18.26% - 2px);
  width: 10px;
}
.web-1920-1 .path-93-J1biH6 {
  background-color: transparent;
  bottom: calc(40.82% - 19px);
  height: 47px;
  position: absolute;
  right: calc(45.75% - 13px);
  width: 29px;
}
.web-1920-1 .path-94-J1biH6 {
  background-color: transparent;
  bottom: calc(40.72% - 21px);
  height: 51px;
  position: absolute;
  right: calc(45.73% - 15px);
  width: 33px;
}
.web-1920-1 .path-95-J1biH6 {
  background-color: transparent;
  bottom: calc(39.29% - 6px);
  height: 14px;
  position: absolute;
  right: calc(45.55% - 3px);
  width: 7px;
}
.web-1920-1 .path-96-J1biH6 {
  background-color: transparent;
  height: 24px;
  left: calc(45.89% - 13px);
  position: absolute;
  top: calc(39.65% - 9px);
  width: 29px;
}
.web-1920-1 .path-97-J1biH6 {
  background-color: transparent;
  height: 28px;
  left: calc(45.86% - 15px);
  position: absolute;
  top: calc(39.54% - 11px);
  width: 33px;
}
.web-1920-1 .path-98-J1biH6 {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: calc(45.11% - 13px);
  top: calc(39.65% - 9px);
  width: 29px;
}
.web-1920-1 .path-99-J1biH6 {
  background-color: transparent;
  height: 28px;
  position: absolute;
  right: calc(45.08% - 15px);
  top: calc(39.54% - 11px);
  width: 33px;
}
.web-1920-1 .rectangle-10-J1biH6 {
  background-color: var(--white);
  height: 135px;
  position: absolute;
  right: calc(49.35% - 96px);
  top: calc(48.57% - 65px);
  width: 195px;
}
.web-1920-1 .rectangle-11-J1biH6 {
  background-color: var(--white);
  height: 135px;
  position: absolute;
  right: 76px;
  top: calc(48.57% - 65px);
  width: 195px;
}
.web-1920-1 .rectangle-12-J1biH6 {
  background-color: var(--white);
  height: 135px;
  position: absolute;
  right: calc(49.35% - 96px);
  top: 28px;
  width: 195px;
}
.web-1920-1 .rectangle-13-J1biH6 {
  background-color: var(--white);
  height: 135px;
  left: 83px;
  position: absolute;
  top: calc(48.57% - 65px);
  width: 195px;
}
.web-1920-1 .rectangle-14-J1biH6 {
  background-color: var(--white);
  bottom: 37px;
  height: 135px;
  left: 83px;
  position: absolute;
  width: 195px;
}
.web-1920-1 .rectangle-15-J1biH6 {
  background-color: var(--white);
  bottom: 37px;
  height: 135px;
  position: absolute;
  right: calc(49.35% - 96px);
  width: 195px;
}
.web-1920-1 .rectangle-16-J1biH6 {
  background-color: var(--white);
  bottom: 37px;
  height: 135px;
  position: absolute;
  right: 76px;
  width: 195px;
}
.web-1920-1 .rectangle-17-J1biH6 {
  background-color: var(--outrageous-orange);
  border-radius: 0.7400000095367432px;
  bottom: calc(46.59% - 2px);
  height: 4px;
  left: calc(43.58% - 18px);
  position: absolute;
  transform: rotate(-14.84deg);
  width: 42px;
}
.web-1920-1 .rectangle-18-J1biH6 {
  background-color: var(--outrageous-orange);
  border-radius: 1px;
  bottom: calc(45.60% - 10px);
  height: 21px;
  left: calc(42.06% - 4px);
  position: absolute;
  transform: rotate(-14.84deg);
  width: 10px;
}
.web-1920-1 .rectangle-19-J1biH6 {
  background-color: var(--outrageous-orange);
  border-radius: 1.0042409896850586px;
  bottom: calc(47.26% - 10px);
  height: 21px;
  left: calc(45.52% - 5px);
  position: absolute;
  transform: rotate(-15.00deg);
  width: 10px;
}
.web-1920-1 .rectangle-20-J1biH6 {
  background-color: var(--outrageous-orange);
  border-radius: 0.7400000095367432px;
  bottom: calc(43.04% - 2px);
  height: 4px;
  position: absolute;
  right: calc(44.78% - 19px);
  transform: rotate(160.26deg);
  width: 42px;
}
.web-1920-1 .rectangle-21-J1biH6 {
  background-color: var(--outrageous-orange);
  border-radius: 1px;
  bottom: calc(43.75% - 9px);
  height: 21px;
  position: absolute;
  right: calc(43.23% - 4px);
  transform: rotate(160.26deg);
  width: 10px;
}
.web-1920-1 .rectangle-22-J1biH6 {
  background-color: var(--outrageous-orange);
  border-radius: 1px;
  bottom: calc(41.74% - 9px);
  height: 21px;
  position: absolute;
  right: calc(46.64% - 5px);
  transform: rotate(160.26deg);
  width: 10px;
}
.web-1920-1 .rectangle-23-J1biH6 {
  background-color: var(--apricot-peach);
  border-radius: 0.6399999856948853px;
  bottom: calc(43.43% - 2px);
  height: 4px;
  position: absolute;
  right: calc(45.33% - 4px);
  transform: rotate(-22.96deg);
  width: 10px;
}
.web-1920-1 .rectangle-24-J1biH6 {
  background-color: var(--apricot-peach);
  bottom: calc(19.16% - 1px);
  height: 6px;
  position: absolute;
  right: calc(49.31% - 5px);
  width: 10px;
}
.web-1920-1 .rectangle-25-C61RwL {
  background-color: var(--white);
  height: 56px;
  width: 376px;
  left: 304px;
  position: absolute;
  top: 653px;
}
.web-1920-1 .rectangle-26-C61RwL {
  background-color: rgba(254,111,171,1.0);
  height: 56px;
  width: 110px;
  left: 681px;
  position: absolute;
  top: 653px;
}
.web-1920-1 .rectangle-27-C61RwL {
  background-color: var(--white);
  height: 56px;
  left: 304px;
  position: absolute;
  top: 716px;
  width: 376px;
}
.web-1920-1 .rectangle-7-C61RwL {
  background-color: rgba(255,215,80,1.0);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 960px;
}
.web-1920-1 .rectangle-8-J1biH6 {
  background-color: var(--white);
  height: 135px;
  left: 83px;
  position: absolute;
  top: 28px;
  width: 195px;
}
.web-1920-1 .rectangle-9-J1biH6 {
  background-color: var(--white);
  height: 135px;
  position: absolute;
  right: 76px;
  top: 28px;
  width: 195px;
}
.web-1920-1 .sign-in-with-google-C61RwL {
  background-color: transparent;
  color: rgba(199,199,199,1.0);
  font-family: 'HelveticaNeue-Regular', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 368px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.58;
  position: absolute;
  text-align: left;
  top: 732px;
  white-space: nowrap;
  width: auto;
}
.web-1920-1 .sign-up-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 56px;
  width: 108px;
  left: 683px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 653px;
  padding-left: 15px;
  white-space: nowrap;
  border:none;
}
.web-1920-1 .x567video-lloutline-C61RwL {
  background-color: transparent;
  height: 468px;
  left: 1064px;
  position: absolute;
  top: 327px;
  width: 743px;
}
:root {
  --apricot-peach: rgba(255,201,176,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --east-side: rgba(196,144,209,1.0);
  --outrageous-orange: rgba(245,97,50,1.0);
  --white: rgba(255,255,255,1.0);
}
