{% extends 'Students/student_main.html' %}

<!-- Tilte  -->
{% block title %}
<h1> Student Profile</h1>
{% endblock %}

<!-- Hero -->
{% block form %}
<div class="card mt-3 col-lg-6">
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name='name' value="{{name}}" disabled>
        </div>
        <div class="col">
          <label for="school" class="form-label">School</label>
        <input type="text" class="form-control" name='school' value={{school}} disabled>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="degree" class="form-label">Degree</label>
          <input type="text" class="form-control" name='degree' value={{degree}} disabled>
        </div>
        <div class="col">
          <label for="graduationDate" class="form-label">Graduation Date</label>
          <input type="date" class="form-control" name='graduationDate' value={{graduationDate}} disabled>
        </div>
      </div>
        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" rows="3" name="bio" disabled>{{bio}}</textarea>
      </div>
      <a href="/student/update_profile" class="btn TickleMePink-bg ml-auto mb-3 text-white pull-right">Edit</a>
    </form>
    </div>
  </div>
{% endblock %}















   