{% extends 'Students/student_main.html' %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block form %}
<div class="row row-cols-md-3 g-4 justify-content-center" style="padding-left:5rem; padding-right:5rem;">
  {% if recruiter_profile %}
    {% for recruiter in recruiter_profile%}
    <div class="col" style="max-width: 30rem;">
        <div class="card" style="min-height: 270px;">
          <!-- <img src="https://via.placeholder.com/340x120/FFB6C1/000000" alt="Cover" class="card-img-top"> -->
          <div class="card-body">
            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3"> -->
            <h5 class="card-title ">{{recruiter.name}}</h5>
            <p class="card-subtitle text-muted font-size-sm">{{recruiter.title}} @ {{recruiter.company}}</p>
            <p class="font-size-sm mt-2"><span class="TickleMePink">Looking for</span>: {{recruiter.talent}}</p>
            <p class="font-size-sm">{{recruiter.bio}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm WildBlueYonder-bg text-white pull-right" type="button"><i class="material-icons">Schedule a Chat!</i></button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>

{% endblock %}



    
